@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --bg-background-200: #FFE1C2;
  --color-dark-900: #0A0A0A;
  --font-poppins: 'Poppins', sans-serif;
}

body {
  background: var(--bg-background-200);
  color: var(--color-dark-900);
  font-family: var(--font-poppins);
}