@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@600&family=Poppins:wght@400;600;700&display=swap');

@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --bg-background-200: #FFE1C2;
  --color-dark-900: #0A0A0A;
  --font-poppins: 'Poppins', sans-serif;
  --font-crimson-pro: "Crimson Pro", serif;

}

body {
  background: var(--bg-background-200);
  color: var(--color-dark-900);
  font-family: var(--font-poppins);
}

h1,
h2,
h3 {
  font-family: var(--font-crimson-pro);
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 16px;
}